<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор предмета</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Выбор предмета</h1>
    <div>
        <button onclick="startQuiz('статистика')">Статистика</button>
        <button onclick="startQuiz('микроэкономика')">Микроэкономика</button>
    </div>

    <script>
        function startQuiz(subject) {
            window.location.href = `/quiz.html?subject=${subject}`;
        }
    </script>
</body>
</html>
